@charset "utf-8";

@import url(../fonts/blog_font.css);

body {
  font-family: "Pretendard", "Noto Sans KR", "맑은 고딕", 돋움, sans-serif;
}

.topBar {
  width:100%; height: 74px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  background-color: #fff;
  display: flex;

  border-bottom: 2px solid rgba(221, 221, 221, 0.397);
}
.topBar .logo {
  width: 9%; min-width: 163px;
  display: flex;
  align-items: center;
  position: relative;
}

.topBar > .logo a {
  width: 163px;
  height: 60px;
  position: absolute;
  left: 10px;
}
.topBar .gnb {
  width: 82%; min-width: 490px;
  display: flex;
  justify-content: space-around;
}
.topBar .gnb li a {
  display: block;
  line-height: 72px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #37352F;
  position: relative;
}
.topBar .gnb li a::after {
  content: "";
  position: absolute;
  bottom: 0; left: 0;
  background-color: #669DFD;
  width: 100%; height: 2px;
  transform: scaleX(0);
  transition: 0.5s cubic-bezier(.49,.06,.09,.99);
}
.topBar .gnb li a:hover {
  color: #669DFD;
}
.topBar .gnb li a:hover::after {
  transform: scaleX(1);
}
.topBar .icBox {
  width: 9%;
  height: 74px;
  position: relative;
  top: 0;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
input[type=checkbox] {
  display: none;
}

.topBar .icBox label {
  width: 28px; height: 28px;
  border-radius: 7px;
  margin: 0 4px;
}
.topBar .icBox label:nth-of-type(1) {
  background: url(../images/blog_img/search_icon.png) no-repeat center;
}
.topBar .icBox label:nth-of-type(1):hover {
  background: #eee url(../images/blog_img/search_icon.png) no-repeat center;
  cursor: pointer;
}
.topBar .icBox label:nth-of-type(1):active {
  background: #ddd url(../images/blog_img/search_icon.png) no-repeat center;
}
.topBar .icBox label:nth-of-type(2) {
  background: url(../images/blog_img/etc_icon.png) no-repeat center;
}
.topBar .icBox label:nth-of-type(2):hover {
  background: #eee url(../images/blog_img/etc_icon.png) no-repeat center;
  cursor: pointer;
}
.topBar .icBox label:nth-of-type(2):active {
  background: #ddd url(../images/blog_img/etc_icon.png) no-repeat center;
}
.searchBox .bg {
  position: fixed;
  width: 100%; height: 100vh;
  background: rgba(0, 0, 0, 0.582);
  z-index: 9999;

  display: none;
}
.searchBox .bg label[for=searchBar] {
  display: none;
}
.searchBox input {
  position: fixed;
  top: 20%; left: 33%;
  background: #fff url(../images/blog_img/search_icon_gr.png) no-repeat 15px center;
  width: 35%; height: 50px;
  line-height: 50px;
  border: none;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.226);
  border-radius: 7px;
  text-indent: 40px;
  font-size: 18px;

  display: none;
}
.searchBox input:focus {
  outline: none;
}
#search:checked ~ .searchBox .bg {
  display: block;
}
#search:checked ~ .searchBox input {
  display: block;
  z-index: 9999;
}
.etcBg {
  position: fixed;
  width: 100%; height: 100vh;

  display: none;
}
.etcBox {
  background-color: #fff;
  width: 240px; height: 124px;
  padding: 10px 0;
  box-shadow: 1px 1px 5px rgba(129, 129, 129, 0.514);
  border-radius: 3px;

  position: absolute;
  top: 55px;
  right: 15px;

  display: none;
}
.etcBox li {
  padding: 6px 0;
}
.etcBox > li:first-child a {
  margin: 0 14px;
  height: 21px;
  background: url(../images/blog_img/blog_etcBox_copy.png) no-repeat 2px center / 8px;
  text-indent: 18px;
  text-decoration: none;
  color: #37352F;
  font-size: 14px;
  cursor: pointer;

  display: flex;
  align-items: center;
}
.etcBox > li:hover {
  background-color: #ddd;
}
.etcBox > li:nth-child(2) {
  height: 71px;
}
.etcBox .share {
  margin: 0 14px;
}
.etcBox li:nth-child(2) > .share > a {
  height: 21px;
  background: url(../images/blog_img/blog_etcBox_share.png) no-repeat left center / 11px;
  text-indent: 18px;
  text-decoration: none;
  color: #37352F;
  font-size: 14px;
  cursor: pointer;

  display: flex;
  align-items: center;
}
.etcBox .etcSns {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}
.etcBox .etcSns a {
  display: block;
  width: 30px; height: 30px;
  border-radius: 50%;
  opacity: 70%;
}
.etcBox .etcSns a:hover {
  opacity: 100%;
}
.etcBox .etcSns li:first-child a { 
  background: #fff no-repeat url(../images/blog_img/blog_etcBox_link.png) center / 14px;
  box-shadow: 0 0 5px #37352f4f;
}
.etcBox .etcSns li:nth-child(2) a { 
    background: #fff no-repeat url(../images/blog_img/blog_facebook.png) center / cover; 
}
.etcBox .etcSns li:nth-child(3) a { 
  background: #fff no-repeat url(../images/blog_img/blog_twitter.png) center / cover; 
}
.etcBox .etcSns li:nth-child(4) a { 
  background: #fff no-repeat url(../images/blog_img/blog_linkedIn.png) center / cover; 
}
.etcBox .etcSns li:nth-child(5) a { 
  background: #fff no-repeat url(../images/blog_img/blog_pinterest.png) center / cover; 
}
#etc:checked ~ .etcBg {
  display: block;
}
#etc:checked ~ .etcBox {
  display: block;
}

main article {
  width: 1100px;
  padding: 185px 96px 0;
  margin: 0 auto;
}
main article h1 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 2em;
  color: #37352F;
  margin-bottom: 17px;
}
main article input[type=radio] {
  display: none;
}
main article .slideBox {
  display: flex;
  width: 908px;
  overflow: hidden;
}
main article .slideBox img {
  transition: 0.4s cubic-bezier(.49,.06,.09,.99);
}
main article #btn2:checked ~ .slideBox img:nth-child(1) {
  opacity: 0%;
}
main article #btn1:checked ~ .slideBox img:nth-child(2) {
  opacity: 0%;
}
main article #btn2:checked + .slideBox img {
  transform: translate(-908px);
}
main article .imgBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px 0 36px;
}
main article .imgBtn .greyBtn {
  display: block;
  width: 8px; height: 8px;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin: 0 6px;
}
main article .imgBtn .greyBtn:hover {
  background-color: #8b8b8b;
  cursor: pointer;
}
main article #btn1:checked ~ .imgBtn .btn1 {
  background-color: #6196FF;
}
main article #btn2:checked ~ .imgBtn .btn2 {
  background-color: #6196FF;
}

/* art2 */

.art2 .content1 {
  padding-bottom: 15px;
}

.art2 .wrapper {
  padding: 16px 0 18px;
  display: flex;
  justify-content: space-between;
}
.art2 h2 {
  font-size: 22px;
  color: #37352F;
  font-weight: 700;
  text-transform: capitalize;
  padding: 8px 4px 0;
}
.art2 p {
  color: #37352F;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 8px 10px 6px;
}
.art2 p::before {
  content: url(../images/blog_img/article_note_icon.png);
}
.art2 span {
  font-size: 12px;
  color: #37352F;
  margin: 0 0 10px 10px;
}
.art2 .box {
  text-decoration: none;
  width: 292px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(117, 117, 117, 0.151);
  overflow: hidden;
  display: flex;
  flex-flow: column;
}
.art2 .box img {
  object-fit: cover;
  height: 165px;
}
.art2 .box img:hover {
  cursor: pointer;
}
.art2 .box .txt {
  display: flex;
  flex-flow: column;
  padding-bottom: 6px;
}
.art2 .box:hover {
  cursor: pointer;
  background-color: #eee;
}

/* art_footer */

.art3 .fnav {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 40px;
}
.art3 .fnav::before {
  content: "";
  position: absolute;
  width: 100%; height: 1px;
  background-color: #e9e9e9;
  transform: translateY(-20px);
}
.art3 .fnav li {
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  width: 192.5px;
  padding: 16px 16px 16px 12px;
  display: flex;
  align-items: center;
}
.art3 .fnav img {
  width: 21.3px; height: 21.3px;
  object-fit: cover;
}
.art3 .fnav li:last-child img {
  object-fit: contain;
}
.art3 .fnav a {
  transform: translate(10px);
  text-decoration: none;
  color: #838383;
  font-size: 14px; font-weight: 700;
  text-transform: capitalize;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.art3 .fnav a:hover {
  color: #000;
}
footer {
  width: 908px;
  margin: 0 auto;
  padding-bottom: 300px;
}
footer .company {
  margin: 20px 0;
  width: 180px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.art3 .company li:nth-child(2), .art3 .company li:nth-child(4) {
  font-size: 14px;
}
footer .company a {
  font-size: 14px;
  color: #37352fa8;
  text-decoration: none;
  border-bottom: 1px solid #838383;
}
footer .company a:hover {
  color: #000;
}
footer p {
  font-size: 14px;
  color: #37352F;
}
footer .contactbtn {
  display: block;
  text-transform: uppercase;
  width: 908px; height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #fff;
  position: fixed;
  bottom: 20px;
  box-shadow: 0 0 7px rgb(165, 165, 165);
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  border-radius: 10px;
  color: #3B3289;
}



