@charset "utf-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: #fff;
}


header #head_logo {/*로고*/
  display: block;
  width:146px; height:36px;

  position: fixed;
  top:40px; left:40px;
  z-index: 9998;
  
}
header #charIcon { /* 버튼2 */
  position: fixed;
  bottom: 1.5%; right: 1.5%;
  width: 60px; height: 60px;
  background: #fff url(../images/mainPage_img/charIcon.png) no-repeat center / 80%;
  border-radius: 42%;
  display: block;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.16);
  z-index: 9999;
}
.subHeader_T {
  height: 259px;
  width: 100%;
  background-color: #f3f6f9;
  position: fixed;
/* z-index: 9; */}

header {
  height: 259px;
  width: 100%;
  background-color: #f3f6f9;
}
header .sub_title {
  
  font-size: 60px;
  font-weight: 700;
  padding-top: 110px;
  font-family: 'Red Hat Display',sans-serif;  
}

/* 팝업 css */

/* 팝업 on /off 체크박스 */
.pub #menuPop {
  display: none;
}
/* 우측 상단 메뉴 btn */
.pub .menuPop {
  display: block;
  width: 42px; height: 42px; border-radius: 50%;
  background: #fff no-repeat url(../images/header_img/front_menuicon.png) center ;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.16);
  position: fixed;
  top: 40px; right: 40px;
  z-index: 9998;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.16);
}
/* 메뉴 btn 호버 */
.pub .menuPop:hover {
  cursor: pointer;
  background: #003DAB url(../images/header_img/front_menuicon_hover.png) no-repeat center;
}
/* 팝업 반투명 bg */
.pub #menuPop:checked + label + .bgBox {
  background-color: #000000ef;
  width: 100%; height: 100vh;
  position: fixed; top: 0; left: 0;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 팝업 close btn */
.pub #menuPop:checked + label + .bgBox > .menuPopDown { display: block; }

/* 팝업 close btn */
.pub .menuPopDown{
  width:42px; height:42px;
  border-radius:50%;
  background: #fff;
  content: url(../images/nav_img/exitIcon.svg);
  cursor: pointer;
  display: none;

  position: fixed;
  top: 40px; right: 40px;
  z-index: 9999;
}
/* 팝업 close btn hover */
.pub .menuPopDown:hover{
  background-color: #003DAB;
  content: url(../images/nav_img/exitIcon_hover.svg);
}
/*팝업 로고 hide */
header #pop_logo {
  width:146px; height: 36px;

  position: fixed;
  top:40px; left:40px;
  z-index: 9999;

  cursor: pointer;
  display: none;
}
/* 팝업 로고 pop */
.pub #menuPop:checked + label + .bgBox > #pop_logo { display: block; }

/* 팝업 gnb 컨테이너 */
.pub .bgBox .nav_container {
  position: absolute;
  display: none;
}
/* 팝업 메뉴 숨김 */
.pub #menuPop:checked + .menuPop + .bgBox > .nav_container {
  display: block;
}
/* gnb 공용 */
header .gnb {
  font-family: 'Red Hat Display', 'Noto Sans KR', sans-serif;
  font-size: 66px; font-weight: 900;
}
/* 팝업 gnb 정렬 */
.pub .bgBox .nav_container .gnb {
  width: 650px; height: 580px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
.pub .bgBox .nav_container .gnb > li > a {
  height: 87px;
}
.gnb a:hover {
  font-weight: 800;
  font-size: 60px;
}

.gnb .about::before {
  content: "ABOUT US";
}
.gnb .about:hover::before {
  content: "회사소개";
}
.gnb .service::before {
  content: "ONLINE SERVICE";
}
.gnb .service:hover::before {
  content: "비대면 서비스";
}
.gnb .client::before {
  content: "CLIENT";
}
.gnb .client:hover::before {
  content: "함께하는 고객";
}
 .gnb .blog::before {
  content: "BLOG";
}
.gnb .blog:hover::before {
  content: "블로그";
}
.gnb .contact::before {
  content: "CONTACT US";
}
.gnb .contact:hover::before {
  content: "문의";
}
/* 팝업 sns 정렬 */
.nav_container .gnb .sns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}
/* 팝업 sns 디자인 */
.nav_container .gnb .sns li a {
  width: 40px; height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  display: none;
}
/* 팝업 sns 이미지&호버 */
#facebook {
  background: url(../images/nav_img/Facebook_Nav_Logo.png) no-repeat center;
}
#facebook:hover {
  background: #003DAB url(../images/nav_img/Facebook_Nav_Logo_hover.png) no-repeat center;
}
#insta {
  background: url(../images/nav_img/Instagram_Nav_Logo.png) no-repeat center;
}
#insta:hover {
  background: #003DAB url(../images/nav_img/Instagram_Nav_Logo_hover.png) no-repeat center;
}
#youtube {
  background: url(../images/nav_img/Youtube_Nav_Logo.png) no-repeat center;
}
#youtube:hover {
  background: #003DAB url(../images/nav_img/Youtube_Nav_Logo_hover.png) no-repeat 55% 55%;
}
#brunch {
  background: url(../images/nav_img/Brunch_Nav_Logo.png) no-repeat center;
}
#brunch:hover {
  background: #003DAB url(../images/nav_img/Brunch_Nav_Logo_hover.png) no-repeat center;
}
/* 메인 팝업 sns 숨김 */
.pub #menuPop:checked + .menuPop + .bgBox > .nav_container li a {
  display: block;
}


/* ============ main ============== */

body{
  font-family: "Noto Sans KR", "Poppins", "Red Hat Display:wght@700" ,sans-serif;
  
}
.container_full {
  width: 100%;
  position: relative;
}

.container_content { 
  width:100%;
  background-color: #fff;

  position: absolute;
  top: 259px; left: 0; right: 0;
  z-index: 99;}



  .container{
    margin:80px 0 100px;
  }

  .wrap {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
  }

  main .sub_txt {
    margin: 0 auto;
    height: 141px;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Noto Sans KR',sans-serif;
    letter-spacing:-0.8;
    line-height: 1.4;
  }

  main .sub_txt span {font-weight: 700;}

  main .sub_gnb {
    width: 100%; height: 168px;
    display: flex;
    align-items: center;
  }

  main .sub_gnb .menubar {
    display: flex;
  }

  main .sub_gnb a{
    display: inline-block;
    padding:6px 12px;
    
    color: #727272;
    opacity: 0.7;
    
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1px;
    font-weight: 500;

    height:35px;
  }

  main .sub_gnb .menubar li:first-of-type a{
    padding-left:0;
    color: #003dab; opacity:1;
    font-weight: 600;
    text-decoration: underline;
  }

    /* main .sub_gnb a:focus {
    cursor: pointer;
    outline: none;} */

    main .sub_gnb a:hover {
    color: #003dab;opacity:1;
    font-weight: 600;
    text-decoration: underline;
    /* text-underline-offset: 3px;
    -webkit-text-fill-color: #003dab;
    -webkit-text-stroke-color: #003dab;
    -webkit-text-stroke-width: 1px; */}
    

  main .banner {
    padding:0;
    margin: -6px 0 0 -20px;
    line-height: 21px;
   

    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: space-between;


  }

  main .banner .banner_box{  
    flex-grow: 1; 
    flex-basis: 0;
    padding:8px;
    width:243px; height:141px;
    
  }

  main .banner a {
    display: block;
    width:208px; height:120px;
    /* padding:8px; */
    margin:0 auto;
  }
   main > .banner > .banner_box > img {
    display: block;
    width:100%; height:100%;
  }
 
  /* main .banner .banner_spacing {
    width: calc(100% + 16px);
    margin: -8px;
  
    width: 100%;
    display: flex;
  } */

 




/* footer */

 footer {
  background-color: #222222;
  width: 100%;
}
footer .wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
footer .wrapper .marginbox {
  width: 50px;
  margin: 0;
  float: left;
}
.footbox1 {
  width: 510px;
  float: left;
  margin: 0 100px 50px 0;
}
.footlogo {
  display: block;
  width: 500px;
  font-size: 52px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  background: url(../images/footer_img/footer_arrow.png) no-repeat 290px center / 40px;
}
.footlogo:hover {
  color: #003DAB;
  background: url(../images/footer_img/footer_arrowBlue.png) no-repeat 290px center / 40px;
}
.footbox1 p {
  color: #7a7a7a;
  margin-top: 20px;
}
.footNav li {
  float: left;
}
.footNav li a {
  display: block;
  width: 150px;
  border: 1px solid #ddd;
  padding: 8px 15px;
  border-radius: 7px;
  margin: 25px 20px 0 0;
  font-size: 14px;
  background: url(../images/footer_img/footer_Link_icon.png) no-repeat 90% 50% / 14px;
}
.footNav li:nth-child(3) a {
  background: url(../images/footer_img/footer_Link_Down_Arrow.png) no-repeat 90% 50% / 7px;
}

.footbox2 {
  width: 490px;
  float: left;
  margin-bottom: 50px;
}
.footbox2 {
  color: #ddd;
}
.footSns li {
  float: left;
}
.footSns li a {
  display: block;
  width: 36px; height: 36px;
  background-color: #ddd;
  margin: 0 10px 30px 0;
  border-radius: 50%;
  padding: 8px;
}
.footSns li a img {
  width: 100%; height: 100%;
  object-fit: contain;
}
.footbox2 h3 {
  color: #ddd;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.footbox2 p {
  color: #7A7A7A;
  font-size: 14px; font-weight: 300;
  margin: 10px 0;
  line-height: 1.6;
}
.footbox2 a:last-child {
  font-size: 13px;
  color: #ddd;
}
.copy {
  width: 100%;
  color: #7a7a7a;
  border-top: 1px outset #444;
  padding: 12px 0;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.copy p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  float: left;
}
.copy a {
  display: block;
  font-family: 'Poppins', sans-serif; font-size: 14px;
  width: 40px;
  background: url(../images/footer_img/footer_chevron-up.png) no-repeat 90% 50% / 6px;
  float: right;
}