@charset "utf-8";


header #head_logo {/*로고*/
  display: block;
  width:146px; height:36px;

  position: fixed;
  top:40px; left:40px;
  z-index: 9999;
  
}

header #head_menu {/*버튼*/
 
  width:40px; height:40px;
  line-height: 40px;
  text-align: center;
  border-radius:50%;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 16%);
  background-color: #fff;
  cursor: pointer;

  position: fixed;
  top:40px; right:40px;
 z-index: 9999;  
}

header #head_menu:hover {/*버튼*/ 
  
background-color: #003dab;
}
header #charIcon { /* 버튼2 */
  position: fixed;
  bottom: 1.5%; right: 1.5%;
  width: 60px; height: 60px;
  background: #ddd url(./images/mainPage_img/charIcon.png) no-repeat center / 80%;
  border-radius: 42%;
  display: block;
  z-index: 9997;
}
.subHeader_T {
  height: 259px;
  width: 100%;
  background-color: #f3f6f9;
  position: fixed;
/* z-index: 9; */}

header {
  height: 259px;
  width: 100%;
  background-color: #f3f6f9;
}
header .sub_title {
  
  font-size: 60px;
  font-weight: 700;
  padding-top: 110px;
  font-family: 'Red Hat Display',sans-serif;  
}


/* ============ main ============== */

body{
  font-family: "Noto Sans KR", "Poppins", "Red Hat Display:wght@700" ,sans-serif;
  
}
.container_full {
  width: 100%;
  position: relative;
}

.container_content { 
  width:100%;
  background-color: #fff;

  position: absolute;
  top: 259px; left: 0; right: 0;
  z-index: 99;}



  .container{
    margin:80px 0 100px;
  }

  .wrap {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
  }

  main .sub_txt {
    margin: 0 auto;
    height: 141px;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Noto Sans KR',sans-serif;
    letter-spacing:-0.8;
    line-height: 1.4;
  }

  main .sub_txt span {font-weight: 700;}

  main .sub_gnb {
    width: 100%; height: 168px;
    display: flex;
    align-items: center;
  }

  main .sub_gnb .menubar {
    display: flex;
  }

  main .sub_gnb a{
    display: inline-block;
    padding:6px 12px;
    
    color: #727272;
    opacity: 0.7;
    
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1px;
    font-weight: 500;

    height:35px;
  }

  main .sub_gnb .menubar li:first-of-type a{
    padding-left:0;
    color: #003dab; opacity:1;
    font-weight: 600;
    text-decoration: underline;
  }

    /* main .sub_gnb a:focus {
    cursor: pointer;
    outline: none;} */

    main .sub_gnb a:hover {
    color: #003dab;opacity:1;
    font-weight: 600;
    text-decoration: underline;
    /* text-underline-offset: 3px;
    -webkit-text-fill-color: #003dab;
    -webkit-text-stroke-color: #003dab;
    -webkit-text-stroke-width: 1px; */}
    

  main .banner {
    padding:0;
    margin: -6px 0 0 -20px;
    line-height: 21px;
   

    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: space-between;


  }

  main .banner .banner_box{  
    flex-grow: 1; 
    flex-basis: 0;
    padding:8px;
    width:243px; height:141px;
    
  }

  main .banner a {
    display: block;
    width:208px; height:120px;
    /* padding:8px; */
    margin:0 auto;
  }
   main > .banner > .banner_box > img {
    display: block;
    width:100%; height:100%;
  }
 
  /* main .banner .banner_spacing {
    width: calc(100% + 16px);
    margin: -8px;
  
    width: 100%;
    display: flex;
  } */

 




/* ---------------footer-------------- */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #fff;
  text-decoration: none;
}
footer {
  background-color: #222;
  width: 100%; 
  position:relative;
  bottom:0; right:0; left:0;
}
.footerwrapper {
  
  padding-top: 50px;
}
.marginbox {
  width: 50px;
  margin: 0;
  float: left;
}
.footbox1 {
  width: 510px;
  float: left;
  margin: 0 100px 50px 0;
}
.footlogo {
  display: block;
  width: 500px;
  font-size: 52px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  background: url(./images/footer_img/footer_arrow.png) no-repeat 290px center / 40px;
}
.footlogo:hover {
  color: #003DAB;
  background: url(./images/footer_img/footer_arrowBlue.png) no-repeat 290px center / 40px;
}
.footbox1 p {
  color: #7a7a7a;
  margin-top: 20px;
}
.footNav li {
  float: left;
}
.footNav li a {
  display: block;
  width: 150px;
  border: 1px solid #fff;
  padding: 8px 15px;
  border-radius: 10px;
  margin: 20px 20px 0 0;
  font-size: 15px;
  background: url(./images/footer_img/🦆\ icon\ _Alternate\ External\ Link_.png) no-repeat 90% 50% / 14px;
}
.footNav li:nth-child(3) a {
  background: url(./images/footer_img/🦆\ icon\ _Caret\ Down_.png) no-repeat 90% 50% / 7px;
}
.marginbox {
  width: 100px; height: 50px;
  background-color: red;
  float: left;
}
.footbox2 {
  width: 490px;
  float: left;
  margin-bottom: 50px;
}
.footbox2 {
  color: #ddd;
}
.footSns li {
  float: left;
}
.footSns li a {
  display: block;
  width: 40px; height: 40px;
  background-color: #ddd;
  margin: 10px 10px 20px 0;
  border-radius: 50%;
  padding: 8px;
}
.footSns li a img {
  width: 100%; height: 100%;
  object-fit: contain;
}
.footbox2 p {
  color: #7a7a7a;
  margin: 10px 0;
}
.footbox2 a:last-child {
  font-size: 13px;
  color: #ddd;
}
.copy {
  width: 100%;
  color: #7a7a7a;
  border-top: 1px outset #444;
  padding: 12px 0;
}

.copy p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  float: left;
}
.copy a {
  display: block;
  width: 50px;
  background: url(./images/footer_img/🦆\ icon\ _chevron-up_.png) no-repeat 90% 50% / 10px;
  float: right;
}